@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

h4{
    margin: 0 !important;
}

body{
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
}

.main-wrap{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    max-width: 900px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-wrap{
    padding: 20px 40px;
    border-radius: 12px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 320px;
}

.link-wrap:hover{
    border: 2px solid #c96100;
}